h1{
    color:orangered;
    text-align: center;
    font-weight: 700;

}
.one{
    color:slateblue;
    background-color: thistle;
    font-size: medium;
    font-weight: 600;
    text-align: justify;
    
}